<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Privacy - User Notifications Usage Description
Privacy - User Notifications Usage Description
Privacy - User Notifications Usage Description</key>
	<string>CurioKids sends daily learning reminders for kids.</string>
</dict>
</plist>
